<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442123674229-1kee6iki2qt59psr6921l4osrk98octv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442123674229-1kee6iki2qt59psr6921l4osrk98octv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442123674229-mqv5198vc0afr7cv4tcpdtuk7o3ncbia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi5d_UwuiI2wiuMKmxC1qXyRngLaWa8P4</string>
	<key>GCM_SENDER_ID</key>
	<string>442123674229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastkart</string>
	<key>PROJECT_ID</key>
	<string>fastkart-e69da</string>
	<key>STORAGE_BUCKET</key>
	<string>fastkart-e69da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442123674229:ios:ae935dd53152f2f3c68e3c</string>
</dict>
</plist>